<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CapaPresentacion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.sale_managerConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=sale_manager"
            providerName="MySql.Data.MySqlClient" />
        <add name="CapaPresentacion.Properties.Settings.sale_managerConnectionString1"
            connectionString="server=127.0.0.1;user id=root;database=sale_manager;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <CapaPresentacion.Properties.Settings>
            <setting name="EstablecerStockMinimo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StockMinimo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecordarReponer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostrarMensajeCumpleanios" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MensajeCumpleanios" serializeAs="String">
                <value />
            </setting>
            <setting name="RutaImgenCumpleanios" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordarDeudores" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PermitirNuevasDeudas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecordarPagos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiasAnticipacion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrimerInicioSistema" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IdCaja" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IdAperturaPredefinida" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AbrirCaja" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FechaHoraApertura" serializeAs="String">
                <value>08/29/2018 16:07:00</value>
            </setting>
            <setting name="AbrirCajaSiempre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CajaAbierta" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdAperturaCierre" serializeAs="String">
                <value>0</value>
            </setting>
        </CapaPresentacion.Properties.Settings>
    </userSettings>
</configuration>