<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="server=127.0.0.1;user id=root;database=sale_manager"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>